.section-news {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/img/cover-news.jpg');
  background-size: cover;
  background-position: center;
}

.news-container {
  width: 70%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.h-title-news {
  font-size: 70px;
  font-weight: 100;
  position: relative;
  z-index: 1;
  color: #fff;
  margin: 0;
  padding-top: 70px;
  font-family: "PerpetuaTitlingMTLight2";
}

/*
.h-title-news::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px;
  height: 90px;
  background-color: #9b793e;
  border-radius: 50%;
  margin-top: 5px;
  content: "";
  z-index: -1;
  opacity: 0.4;
}
*/

.info {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  margin-right: auto;
  margin-left: auto;
  margin-top: 230px;
  padding: 60px;
  opacity: 0.5;
}

@media (max-width: 1000px) {
  .h-title-news {
    margin-top: 50px;
    font-size: 60px;
  }

}

@media (max-width: 700px) {
  .news-container {
    justify-content: center;
    align-items: center;
  }

  .info {
    font-size: 14px;
  }

  .news-container {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .h-title-news{
    font-size: 30px;
}

.h-title-news::after{
    width: 40px;
    height: 40px;
}
}